# Primera entrega ML

### Título de proyecto

"Predicción de Deserción y Segmentación de Clientes de BestCycling (utilizando Machine Learning)"

### Tema

"En este proyecto, aplicaré técnicas de Machine Learning para abordar mis dos objetivos principales: predecir la deserción de clientes (churn) y segmentar a los clientes en grupos relevantes.

Primero, implementaré y evaluaré diversos modelos de clasificación supervisada, tales como regresión logística, árboles de decisión, random forest, gradient boosting etc... Estos modelos se utilizarán para predecir qué clientes tienen una mayor probabilidad de abandonar la empresa, basándose en multiples features y comportamientos históricos.

En segundo lugar, utilizaré el algoritmo de clustering K-Means para segmentar a los clientes en diferentes grupos. Esta segmentación permitirá a la empresa comprender mejor los perfiles y comportamientos de sus clientes, facilitando la personalización de estrategias de marketing y retención.

El resultado esperado es un conjunto de modelos predictivos eficientes y una segmentación clara de clientes que, en conjunto, ofrecerán a la empresa insights valiosos para reducir la tasa de deserción y mejorar la satisfacción y lealtad de los clientes."

### Datasets y fuentes alternativas de datos
Incluye aquí una breve descripción del dataset o datasets para tu proyecto. Incluye también las fuentes de cada uno de ellos.

In [ ]:
tipo_ml = "Clasificación"
target_descr = "La variable objetivo es Churned(si el usuario se ha ido o no)"
metricas = "Quiero probar todos los modelos de clasificacion que hemos estudiado"

In [ ]:
datasets = "Los mismos datasets que en el EDA, datos privados de todos los usuarios historicos de BestCycling con las maximas features posibles"

In [6]:
import pandas as pd
from sqlalchemy import create_engine, text

engine = create_engine('mysql+mysqlconnector://root:maria@localhost:3306/eda')

In [7]:
query = """ 
SELECT user_id, country_code FROM user_addresses
"""
users_a = pd.read_sql(query, con=engine)
users_a.head()

   user_id country_code
0      337           ES
1     1929           ES
2     2238           ES
3     2374           ES
4     2392           ES

In [8]:
query = """ 
SELECT id user_id, birthday, sex FROM users
"""
users = pd.read_sql(query, con=engine)
users.head()

   user_id    birthday   sex
0     2916        None  None
1     6264        None  None
2     6850  1980-11-05     m
3     6919        None     m
4     6920  2012-12-29     m

In [9]:
query = """ 
SELECT payed, promo, payment_method, membership_start_date, membership_end_date, plan_extension_id, user_id, plan_id, total_membership FROM membership_extensions
"""
clean_me = pd.read_sql(query, con=engine)
clean_me.head()

,payed,promo,payment_method,membership_start_date,membership_end_date,plan_extension_id,user_id,plan_id,total_membership
0,1,0,tarjeta,2012-11-09 16:51:37,2013-11-09 16:51:37,6,27589,4,5000
1,1,0,tarjeta,2012-11-10 16:32:12,2013-11-10 16:32:12,6,64174,4,5000
2,1,0,paypal,2012-11-11 18:54:05,2012-12-11 18:54:05,4,28945,4,900
3,1,0,paypal,2012-11-12 16:04:51,2013-02-12 16:04:51,5,87948,4,1500
4,1,0,tarjeta,2012-11-13 12:18:09,2012-12-13 12:18:09,4,88160,4,900