In [ ]:
query = """

SELECT *
FROM `bold-column-421114.chinook_BigQuery.Customer`
WHERE Country LIKE "%Brazil%"

"""

In [ ]:
query2 = """

SELECT DISTINCT(Title)
FROM `bold-column-421114.chinook_BigQuery.Employee`
WHERE Title LIKE "Sales%"

"""

In [ ]:
query3 = """

SELECT * 
FROM `bold-column-421114.chinook_BigQuery.Track`
WHERE Composer LIKE "%AC/DC%"

"""

In [ ]:
query4 = """

SELECT FirstName, LastName, CustomerId, Country
FROM `bold-column-421114.chinook_BigQuery.Customer` 
WHERE Country <> "USA"

"""

In [ ]:
query5 = """

SELECT DISTINCT(Title), FirstName, LastName, Address, City, State, Country, Email
FROM `bold-column-421114.chinook_BigQuery.Employee`
WHERE Title LIKE "Sales%"


"""

In [ ]:
query6 = """



"""

In [ ]:
query7 = """
SELECT State, Country, CustomerId
FROM `bold-column-421114.chinook_BigQuery.Customer`
WHERE Country LIKE "%USA%"

"""

In [ ]:
query8 = """



"""

In [ ]:
query9 = """

SELECT Count(Name)
FROM `bold-column-421114.chinook_BigQuery.Track` 
WHERE Composer LIKE "%AC/DC%"
"""

In [ ]:
query10 = """



"""

In [ ]:
query11 = """



"""

In [ ]:
query12 = """



"""

In [ ]:
query13 = """



"""

In [ ]:
query14 = """

SELECT COUNT(CustomerId) AS CountCustomer, Country AS CuentaCliente
FROM `bold-column-421114.chinook_BigQuery.Customer`
WHERE Country LIKE "%Brazil%" OR Country LIKE "%Spain%"
GROUP BY Country

"""

In [ ]:
query15 = """

SELECT Name as Cancion
FROM `bold-column-421114.chinook_BigQuery.Track`
WHERE Name LIKE "You%"

"""